# Python
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/
.DS_Store

# Model checkpoints
checkpoints/

# Generated outputs
outputs/
training_log.csv

# HPC output files
Theia_train.o*
Theia_preprocess.o*

# Datasets (don't commit large datasets)
data/
docs/

# Models too big to upload
weights/pro_model.onnx
weights/best_pro_model.pth